MONGODB_URL=your-mongodb-connection-string

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-key
CLOUDINARY_API_SECRET=your-cloudinary-secret

AUTH0_AUDIENCE=manage-hostel-api
AUTH0_ISSUER_BASE_URL=https://dev-0yc0zeaiyi3pex6i.us.auth0.com

FRONTEND_URL=http://localhost:5173

STRIPE_API_KEY=sk_test_your_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
